# 08 Multiple Linear Regression & Polynomial Regression

## Sample Dataset

##### Training Dataset

In [8]:
import pandas as pd

pizza = {
    'diameter' : [6,8,10,14,18],
    'jumlah_topping' : [2,1,0,2,0],
    'harga' : [7,9,13,17.5,18]
}

train_pizza_df = pd.DataFrame(pizza)
train_pizza_df

   diameter  jumlah_topping  harga
0         6               2    7.0
1         8               1    9.0
2        10               0   13.0
3        14               2   17.5
4        18               0   18.0